#header-wrapper {
    background-color: $lightBlackColor;
    padding: 10px 0px;
    color: white;
}

#header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    background-color: $lightBlackColor;
    font-size: 14px;
    padding: 0 5px;
}

#header__profile-pic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

.navLink {
    color: white;
    :hover {
        color: red;
    }
}

#logged-in-profile {
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.activeNavLink {
    color: red;
}