#profile-container {
  background-color: $lightGreyColor;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-column-gap: 20px;
}

#profile-right-container {
  background-color: #FFF;
  padding: 15px;
}

#profile-left-container {
  background-color: #FFF;
}