// Colors

$redColor: #E50914;
$greenColor: #7FFF00;
$lightGreyColor: #F5F5F5;
$greyColor: darken($lightGreyColor, 50);
$lightBlackColor: #20272A;
$linkColor: #0080ff;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
